@charset "utf-8";
/* CSS Document */
#invoiceMain
{
	width:800px;
	background-color:#0FC;
	border:#069;
	border:groove;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
}
#sidepart
{
	width:100px;
	float:left;
	height:600px;
	padding-top:10px;
	border-left-color:#333;
	border-right-color:none;
	border-top-color:none;
	border-bottom-color:none;
	border:groove;
}
#polist
{
	list-style: none;
	margin-left: -35px;
}
#mainpart
{
	width:765px;
	height:580px;
	margin-left:20px;
}
#mainpartupper1
{
	text-align:right;
	margin-top:10px;
	margin-right:30px;
}
#mainpartupper2
{
	height:100px;
	margin-top:10px;
	vertical-align:top;
}
#mainpartupper21
{
	float:left;
	margin-left:45px;
	margin-top:10px;
}
#mainpartupper22
{
	margin-right:30px;	
	margin-top:10px;
}
#task
{
	width:334px;
	height:71px;
	margin-top:10px;
	font-size:19px;
	margin-left:20px;
	vertical-align:text-top;
}
#curdate
{
}
#mainpartupper3
{
	width:750px;
	text-align:left;
	margin-left:5px;
	margin-top:10px;
}
#stax
{
	font-size: small;
	
}
#mainpartupper4
{
	text-align:left;
	margin-left:374px;
	margin-top:10px;
}
.currency
{
	margin-left:10px;
	margin-right:4px;
}
#mainpartupper5
{
	text-align:left;
	margin-left:442px;
	margin-top:10px;
}
#mainpartupper6
{
	text-align:left;
	margin-left:335px;
	margin-top:10px;
}
.exp
{
	width:350px;
	font-size:16px;
	margin-left:5px;
}
.chbox
{
	transform:scale(1.4);
	margin-left:40px;
}
.costbox
{
	width:107px;
	font-size:16px;
	margin-left:4px;
	margin-right:4px;
}
.costbox1
{
	width:140px;
	font-size:16px;
	margin-left:-2px;
	margin-right:4px;
}
#taxvalue ,#total,#actualpototal
{
	width:130px;
	font-size:16px;
	margin-left:1px;
}

#mainpartlower
{
	text-align:right;
	margin-right:10px;
	margin-top:10px;
}
#get
{
	
	text-transform: none;
}



.table
{
	width:105%;
	border-color: #333333;
	border-style: solid;
}
.tr
{
	background-color: #06f;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	padding-top: 2px;
	padding-bottom: 2px;
}
.td
{
	float: left;
}
.oe
{
	width: 64%;
}
.cost
{
	width: 22%;
}
.inc
{
	width: 5%;
	text-align: left;
}
.clear
{
	clear: both;
}
.tabs-list
{
	height:21px;
}
.tabs-items
{
	height:15px;
	margin-left:10px;
	width:17px;
}
.tabs-link
{
	font-size:small;
	padding-left:4px;
	padding-top: 0px;
	width:11px;
}

